doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        nav
            ul
                li
                a(href="/Accueil") Accueil
                li
                a(href="/services") Nos services
                li
                a(href="/contacts") Contactez nous